
.banner {
  position: fixed;
  top: 30vh;
  left: 0;
  height: 70vh;
  width: 100%;
  background-image: url('../img/HPBanner2-2k.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.blurb {
  display: flex;
  position: relative;
  top: 50vh;
  height: 10vh;
  width: 100%;
  background-color: #00000060;
  color: #dedede;
  align-items: center;
  justify-content: center;
  font-family: 'Spectral SC'
}

.blurb h2 {
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
}

.buttonBox {
    position: relative;
    display: flex;
    top: 79vh;
    height: 10vh;
    width: 100%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.buttonBox a {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.jump {
  display: flex;
  width: 85%;
  max-width: 26rem;
  height: 4rem;
  border: 2px #dedede solid;
  border-radius: 2rem;
  background-color: #00000070;
  justify-content: center;
  align-items: center;
}

.jump h2 {
  display: inline-block;
  color: #dedede;
  font-family: 'Spectral SC';
  font-weight: 400;
  font-size: 1.2rem;
}

.jump img {
  display: inline-block;
  margin: 0 1rem;
}

.subDivide {
  position: relative;
  top: 80vh;
  height: 50vh;
  width: 100%;
}

.attorneys {
  display: grid;
  align-content: space-around;
  row-gap: 1.5rem;
  grid-template: 20vh 20vh / 2fr 3fr;
}

.profilePic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #00000090;
}

.profilePic img {
  width: 100%;
  max-width: 18vh;
  border-radius: 50%;
  border: 2px solid #dedede;
}

.heckerPic {
  grid-area: 1/1 / 2/2;
}

.pewPic {
  grid-area: 2/1 / 3/2;
}

.profile {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #dedede;
  background-color: #00000090;
}

.profile h3{
  font-family: 'Spectral SC';
  font-size: 1.5rem;
  font-weight: 500;
}

.profile p {
  font-size: 1.25rem;
  font-family: 'Gentium Basic'
}

#practiceAreas {
  display: grid;
  align-content: space-around;
  justify-content: space-around;
  grid-template: 15vh 15vh 15vh / 1fr 1fr;
  gap: 0;
}

.practice {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000090;
  font-size: 1.5rem;
  font-family: 'Spectral SC';
  color: #dedede;
  text-align: center;
}

#aboutUs {
  width: 100%;
  background-color: #00000090;
  color: #dedede;
  text-align: auto;
  font-family: 'Gentium Basic';
  font-size: 1.5rem;
  overflow: auto;
}

#aboutUs p {
  padding: 1.75rem 2rem;
  line-height: 2rem;
}

.finalSub {
  height: 55vh;
}

.finalBox {
  top: 84vh;
}

@media only screen and (min-width: 1210px) and (orientation: landscape){
  .banner {
    top: 18vh;
    height: 82vh;
  }

  .subDivide {
    height: 62vh;
  }

  .finalSub {
    height: 67vh;
  }
}
